// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.mat-bottom-sheet-container {
    background-color: lightgray;
    min-width: 100vw !important;
    min-height: 100vh;
    border: 0 !important;
    padding: 0 !important;
}
